body {
  background-image: url("../IMG/polkaBackground.jpg");
  background-color: rgb(217, 217, 217);
  height: 100%;
}

body

.bodyTest{
  margin-left: 10%;
  margin-right: 10%;
}

header {
  text-align: center;
}

#banner {
  padding-left: 25%;
  width: 50%;
  height: 5%
}

#facebookLogo{
  max-height: 3%;
  max-width: 3%;
}

#paypalLogo {
  max-height: 3%;
  max-width: 3%;
  margin-right: 5%;
}

#staticNav ul {
  text-align: center;
}

#staticNav ul li {
  display: inline-block;
  text-decoration: none;
  padding-right: 4%;
}

#staticNav ul li a {
  text-decoration: none;
  color: black;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 720px;
    height: 540px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#slideshow img {
  max-width: 100%;
  max-height: 100%;
  width: 720px;
  height: 540px;
}

.pageTitle {
  text-align: center;
  font-size: 64px;
  text-shadow: 2px 2px 4px black;
  margin: 10%;
}
/************************** Home **************************/
#home {
  margin-bottom: 10%;
}

.homeContents p {
  padding: 1%;
  max-width: 30%;
  display: inline-block;
  font-size: 32px;
}

.homeContents p:nth-child(2) {
  font-size: 40px;
}

/************************** Classes **************************/
.classesDivs {
  text-align: center;
  display: inline-block;
  max-width: 33%;
  margin-bottom: 10%
}

.classesDivs img{
  max-width: 100%;
}

.classesDivs p {
  text-align: center;
  height: 200px;
  overflow: scroll;
  width: 70%;
  margin: auto;

}

.classesPage section{
  margin-top: 10%;
  display: inline-block;
}

.classesPage h3{
  text-align: center;
  max-width: 100%;
}

.classPage p {
  text-align: center;
}
/************************** Gallery **************************/
.galleryPage {
  margin-top: 10%;
  text-align: center;
}

.divCenter {
  text-align: center;
}

.galleryThreeImages {
  margin: 3%;
}

.galleryThreeImages img {
  margin-right: 3%;
}

#gallery div img{
  width: 400px;
  height: 400px;
}

/************************** About **************************/
.aboutPage {
  text-align: center;
}
.about {
  text-align: center;
  max-width: 33%;
  display: inline-block;
  margin: 3%;
}

.aboutText {
  max-width: 75%;
  margin: auto;
  font-size: 24px;
}
/************************** Contact **************************/
.contact {
  text-align: center;
}

/********************* Parralax *********************/
/*.parallax {

    background-image: url("../IMG/parallax3.5.png");

    height: 500px;


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#parallaxTwo {
  background-image: url("../IMG/parallax1.5.png");

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#parallaxThree {
  background-image: url("../IMG/parallax2.5.png");

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallaxFour {
  background-image: url("../IMG/parallax4.5.png");

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

@media only screen and (min-device-width: 320px)and (max-device-width: 960px)
  {

    #slideshow {
        margin: 50px auto;
        position: relative;
        width: 250px;
        height: 150px;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
    }

    #slideshow > div {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    #slideshow img {
      max-width: 100%;
      max-height: 100%;
      width: 250px;
      height: 150px;
    }

    .homeContents p {
    padding: 1%;
    max-width: 100%;
    font-size: 32px;
}

.classesDivs {
    text-align: center;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10%;
}

.about {
    text-align: center;
    max-width: 100%;
    display: inline-block;
    margin: 3%;
}

}
